/* Mobile Version for 576px and below viewports */

@media screen and (max-width: 576px) {
    /*
    --------------------------------
        Global style for Mobile
    --------------------------------
    */

    html {
        scroll-behavior: smooth;
    }

    body {
        max-width: 576px;
        height: 100%;
        display: grid;
        grid-template-rows: 100px 4fr 450px;
        grid-template-columns: 1fr;
        border: none;
    }

    .scroll-up {
        font-size: 30px;
        position: fixed;
        bottom: 50px;
        right: 30px;
        background-color: white;
        border-radius: 50px;
        width: 35px;
        text-align: center;
        border: solid 1px #0094c6;
    }

    .scroll-up a:visited {
        color: #0094c6;
    }

    /*
        --------------------------------
        Landing Page style for Mobile
        --------------------------------
    */

    #landing-heading {
        font-size: 2em;
        text-align: center;
        padding-top: 5%;
    }

    #landing-heading-two {
        text-align: center;
        padding: 0;
    }

    .landing-paragraph {
        text-align: center;
        padding: 5% 5%;
    }

    #landing-paragraph-two {
        text-align: center;
    }

    .landing-paragraph-three {
        text-align: center;
        padding-bottom: 10%;
    }

    #landing-image {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    .process-icons img {
        display: block;
        height: 120px;
        margin: 5% auto;
    }

    #our-process {
        margin-top: 10%;
        text-align: center;
    }

    h4 {
        color: #0094c6;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        margin-bottom: 3%;
    }

    .icons {
        height: 100px;
        width: 100px;
    }

    #landing-button {
        display: block;
        max-width: 100px;
        margin: 10% auto;
        color: white;
        background-color: #ff8c42;
        padding: 3% 10%;
        font-size: 19px;
        font-family: "Open Sans", sans-serif;
        border: none;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    #landing-button:active {
        border: none;
    }

    /*
        --------------------------------
        About Page style for Mobile
        --------------------------------
    */

    #about-heading-one {
        font-size: 1.5em;
        grid-row: 1/2;
        text-align: center;
        padding-top: 10%;
    }

    #about-paragraph {
        text-align: center;
        grid-row: 2/3;
        grid-column: 1;
    }

    #about-image {
        margin: 10% 0;
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    #about-section-two {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #about-button {
        display: block;
        max-width: 100px;
        margin: 10% auto;
        color: white;
        background-color: #ff8c42;
        padding: 3% 10%;
        font-size: 19px;
        font-family: "Open Sans", sans-serif;
        border: none;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    /*
        --------------------------------
        Services Page style for Mobile
        --------------------------------
    */

    #services-heading-one {
        font-size: 1.5em;
        grid-row: 1/2;
        text-align: center;
        padding-top: 10%;
    }

    #services {
        grid-row: 2/3;
        text-decoration: none;
        list-style-type: none;
        line-height: 25px;
        margin-left: 0;
        color: #0094c6;
        font-family: "Open Sans", sans-serif;
        padding: 0 5%;
        margin: 2% 0;
        word-wrap: break-word;
        text-align: center;
    }

    #our-service-area {
        margin-bottom: 25%;
    }

    #services-image {
        display: inline-block;
        max-width: 100%;
        height: auto;
        margin: 5% 0;
    }

    #services-button {
        display: block;
        max-width: 100px;
        margin: 10% auto;
        color: white;
        background-color: #ff8c42;
        padding: 3% 10%;
        font-size: 19px;
        font-family: "Open Sans", sans-serif;
        border: none;
        outline: none;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }

    /*
        --------------------------------
        Contact Page style for Mobile
        --------------------------------
    */

    #contact-section {
        grid-row: 2/3;
        grid-column: 1/2;
        margin-bottom: 10%;
    }

    #contact-heading-one {
        font-size: 1.4em;
        font-weight: bold;
        text-align: center;
        margin-top: 15%;
    }

    #contact-paragraph {
        text-align: center;
        margin: 0% 5% 10% 5%;
    }

    #contact-image {
        display: inline-block;
        max-width: 100%;
        height: auto;
    }

    #contact-form {
        text-align: center;
        display: block;
        margin: 10% auto;
        grid-row: 3/4;
        color: #0094c6;
        font-family: "Open Sans", sans-serif;
    }

    input {
        width: 80%;
        border: none;
        border-bottom: 1.5px solid #0094c6;
        outline: none;
        justify-content: center;
    }

    #enquiry-form:active:after {
        height: 500%;
        resize: horizontal;
    }

    #enquiry {
        border: 0;
        border-bottom: 1.5px solid #0094c6;
        width: 80%;
    }

    #enquiry:active {
        border: 0;
        outline: 0;
    }

    textarea {
        outline: none;
        resize: none;
    }

    #contact-button {
        display: block;
        text-align: center;
        max-width: 150px;
        margin: 10% auto;
        color: white;
        background-color: #ff8c42;
        padding: 2% 8%;
        font-size: 19px;
        font-family: "Open Sans", sans-serif;
        border: none;
        outline: none;
        cursor: pointer;
        text-decoration: none;
    }

    /*
        --------------------------------
        T's & C's Page style for Mobile
        --------------------------------
    */

    #terms-heading-one {
        font-size: 20px;
        font-weight: bold;
        grid-row: 1/2;
        margin-top: 10%;
    }

    .terms-heading-two {
        font-size: 18px;
        line-height: 25px;
        text-align: left;
    }

    .terms-heading-three {
        font-size: 16px;
        text-align: left;
    }

    /*
        --------------------------------
        Privacy Policy Page style for Mobile
        --------------------------------
    */

    #privacy-heading-one {
        font-size: 20px;
        font-weight: bold;
        grid-row: 1/2;
        margin-top: 10%;
    }

    .privacy-list {
        color: #0094c6;
        font-family: "Open Sans", sans-serif;
        padding: 0 5% 0 10%;
    }
}